# Archivos de compilación y binarios
[Bb]in/
[Oo]bj/
[Ll]ogs/
[Tt]est[Rr]esults/

# Archivos temporales de Visual Studio
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Paquetes NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
*.snupkg

# Carpetas de herramientas de desarrollo
/tools/
/packages/



# Archivos generados durante la ejecución
*.log
*.sqlite

# Dependencias
node_modules/

# Carpetas y archivos específicos de las capas
# Asegúrate de ajustar estas rutas según la estructura de tu proyecto
# API Layer
api_layer_specific_folder/
api_layer_specific_file.ext

# DAL Layer
dal_layer_specific_folder/
dal_layer_specific_file.ext

# BLL Layer
bll_layer_specific_folder/
bll_layer_specific_file.ext

# Archivos y carpetas de SQL Server
*.mdf
*.ldf
*.ndf

# Archivos de configuración SQL Server
*.sdf
*.dbmdl

# Archivos generados por SQL Server Data Tools
*.jfm
*.dacpac
*.bacpac
*.pmdf

# Carpetas de SQL Server
App_Data/

# Archivos de esquema de SQL Server
*.dacschema
*.sch

# Archivos de backup de SQL Server
*.bak
*.trn
*.log

# Archivos de SQL Server Management Studio
*.sqlproj.user
*.ssdt.sqlproj.user
*.dbmdl.sqlproj.user

# Otros archivos y carpetas que generalmente se deben ignorar
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
